.spins::after {
    position: absolute;
    content: 'Please Wait Its Loading......';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
	
}
.exampleHolder{
	padding-top: 1 rem;
}

.spindiv{
	height: 120px !important;
	position: relative;
}